.container {
  padding: 0 2rem;
}

.card {
  @apply mockup-code bg-black text-white;
}

.card pre::after {
  content: '';
  width: 2px;
  height: 22px;
  background: white;
  display: inline-block;
  transform: translateY(3px);
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
